!!! 5
html
	head
		link(rel='stylesheet', href='pub/css/default.css')
		script(src='http://code.jquery.com/jquery-1.6.4.min.js')
		script(src='/nowjs/now.js')
	body
		h1 Jade - node template engine
		#container(style='width:400px; height:300pt; border:1px solid black; overflow:auto;')
			p You are amazing
		input#btn1(type='button', value='Send')
		
		script
			now.receiveMessage = function(msg){
				container = $('#container');
				container.append('<br>'+msg);
				container.attr({ scrollTop: container.height()});
			};
				
			$('#btn1').click(function(){
				container = $('#container');
				now.distributeMessage('xxx');
			});
